<div class="d-flex justify-content-between" style="background-color: #69f0ae">
  <div class="p-1">

  </div>
  <div class="p-1">
    <font color="white"><h3><strong>Ladda Ner Appen</strong></h3></font>
    <br>
    <font color="white"><h6><strong>Others...!</strong></h6></font>
    <a href="#" class="alert-link">
      <img src="assets/images/logo/googleplay.jpg" style="width: 110px;height: 35px;  margin-right: 10px"/>
    </a>
    <a href="#" class="alert-link">
      <img src="assets/images/logo/appstore.png" style="width: 110px;height: 35px"/>
    </a>
  </div>
  <div class="p-1"></div>
</div>

<div class="d-flex justify-content-between" >
  <div class="p-1">
    <ul>
      <li>Ladda near</li>
    </ul>
    <a href="#" class="alert-link">
      <img src="assets/images/logo/googleplay.jpg" style="width: 80px;height: 30px;  margin-right: 10px"/>
    </a>
    <a href="#" class="alert-link">
      <img src="assets/images/logo/appstore.png" style="width: 80px;height: 30px"/>
    </a>
  </div>
  <div class="p-1">
    <ul>
      <li>Ladda near</li>
      <li>Ladda near</li>
      <li>Ladda near</li>
      <li>Ladda near</li>
    </ul>
  </div>
  <div class="p-1">
    <ul>
      <li>Ladda near</li>
      <li>Ladda near</li>
      <li>Ladda near</li>
      <li>Ladda near</li>
    </ul>
  </div>
  <!--<div class="p-1">-->
    <!--<ul>-->
      <!--<li>Ladda near</li>-->
      <!--<li>Ladda near</li>-->
      <!--<li>Ladda near</li>-->
      <!--<li>Ladda near</li>-->
    <!--</ul>-->
  <!--</div>-->
</div>
