
<h2>Users List</h2>
<!--<p>....</p>-->
<!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>num</th>-->
    <!--<th>sellerId</th>-->
    <!--<th>name</th>-->
    <!--<th>promotionType</th>-->
    <!--<th>startDate</th>-->
    <!--<th>expireDate</th>-->
    <!--<th>products</th>-->
    <!--<th>description</th>-->
    <!--<th>imageLink</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<ng-container *ngFor="let p of Allsellers ; let i= index ">-->
    <!--<tr>-->
      <!--<td>{{i+1}}</td>-->
      <!--<td>{{p.sellerId}}</td>-->
      <!--<td>{{p.name}}</td>-->
      <!--<td>{{p.promotionType}}</td>-->
      <!--<td>{{p.startDate}}</td>-->
      <!--<td>{{p.expireDate}}</td>-->
      <!--<td>{{p.products}}</td>-->
      <!--<td>{{p.description}}</td>-->
      <!--<td width="100" height="100"><img class="card-img-top" [src]="p.imageLink" alt="Card image cap"></td>-->
    <!--</tr>-->
  <!--</ng-container>-->
  <!--</tbody>-->
<!--</table>-->


<kendo-grid
  [height]="600"
  [data]="Allsellers"
  [sortable]="true"
  [draggable]="true"
  [resizable]="true"
>
  <kendo-grid-column title="ID" field="sellerId" [width]="15"></kendo-grid-column>
  <kendo-grid-column title="Name" field="name" [width]="35"></kendo-grid-column>
  <kendo-grid-column title="promotion Type" field="promotionType" [width]="35"></kendo-grid-column>
  <kendo-grid-column title="Email" field="email" [width]="50"></kendo-grid-column>
  <kendo-grid-column title="User Name" field="userName" [width]="50"></kendo-grid-column>
  <kendo-grid-column title="Start Date" field="startDate" [width]="35">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.startDate | date: 'dd/mm/yyyy'}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column title="Expire Date"  [width]="35">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.expireDate | date: 'dd/mm/yyyy'}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column title="image"  [width]="30">
    <ng-template  kendoGridCellTemplate let-dataItem>
      <img src={{dataItem.imageLink}} [width]="100" [height]="100">
    </ng-template>
  </kendo-grid-column>

</kendo-grid>
