.card-footer{
  padding: 3px;
  border: 1px;
  border-style: ridge;
}




.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
  font-size: 22px;
}
.full {
  color: gold;
  font-size: 22px;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
  font-size: 22px;
}

.slideshow{
  height: 400px;
  width: 900px;
}

#userImage{
  height: 350px;
  width: 350px;
  border-radius: 50%;
}
