
<div class="row">
  <div class="col-5">
    <div class="crud-mng-container ">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <img  id="userImage" style="width: 200px;height: 200px;align-items: center" src={{sellerData.imageLink}} class="img-fluid" alt="Responsive image" alt="Avatar"/>
            <br>
            <a [routerLink]="['/products/sellerproducts',sellerData.sellerId]">
              {{ sellerData.name  }}
            </a>

            <div class="text-warning">
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100"><span class="half" [style.width.%]="fill">&#9733;</span>&#9733;</span>
              </ng-template>
              <!--<ngb-rating [(rate)]="RateNumber" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>-->
              <ngb-rating [(rate)]="RateNumber" [starTemplate]="t" max="5"></ngb-rating>
              <br>your rate :{{RateNumber}}
            </div>
            <small >0 sales/0 purchases/since 2019</small>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-6">
      <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">

        <ng-template ngbSlide *ngFor="let p of sellerProducts ; let i= index ">
          <img [src]="p.image" onError="this.src='../../../assets/images/product.jpg';" alt="Random slide" class="slideshow">
          <div class="carousel-caption">
            <h3>{{p.name}}</h3>
            <p>{{p.description}}</p>
            <p>{{p.price}} Sek</p>
          </div>
        </ng-template>
      </ngb-carousel>
      <hr>
    </div>

</div>

<mat-chip-list>
  <mat-chip color="accent" selected *ngIf="category$">{{category$ }}</mat-chip>
</mat-chip-list>

<div class="row">
  <div class="col-12">
    <div class="row">
  <!--<ng-container *ngFor="let p of products$ | async ; let i= index ">-->
  <ng-container *ngFor="let p of sellerProducts ; let i= index ">

    <div class="col-3">
      <div
        class="card" style="width: 100%;">
        <img class="card-img-top" [src]="p.image" style="width: 200px;height: 200px;align-items: center" onError="this.src='../../../assets/images/product.jpg';" alt="Card image cap" [routerLink]="['/products/details',p.productID]">
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">{{p.price | currency:'SEK':true}}</p>
          <!--<div class="row card-footer">
          <div class="col"><a href="#" class="btn btn-block btn-info ">Chat</a></div>
          <div class="col"><a href="#" class="btn btn-block btn-primary ">Add to Basket</a></div>
          </div>-->
        </div>
      </div>
    </div>

    <div *ngIf="(i+1)%4===0" class="min-vw-100 py-3"></div>
  </ng-container>
  </div>
  </div>

<!--<div class="col-2">&lt;!&ndash;right side&ndash;&gt;

</div>-->
</div>



