<h3>Edit Item</h3>
<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="crud-mng-container col-6">
    <mat-form-field>
    <input [(ngModel)]="product.productID" type="text" matInput placeholder="productID" name="productID">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="product.name" type="text" matInput placeholder="name" name="name">
    </mat-form-field>

    <mat-form-field>
      <mat-select matInput placeholder="category" [(value)]="product.category">
        <mat-option *ngFor="let cat of categories " [value]="cat.category">
          {{cat.category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="product.price" type="text" matInput placeholder="price" name="price">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="product.numbers" type="text" matInput placeholder="numbers" name="numbers">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="product.description" type="text" matInput placeholder="description" name="description">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="product.keywoards" type="text" matInput placeholder="keywords" name="keywords">
    </mat-form-field>


  </div>
  <!--<img [src]="url" height="200"> <br/>-->
  <!--<input [(ngModel)]="image" name="image"  type='file' (change)="onSelectFile($event)"> {{selectFieSize | filesize}}-->
  <br><br>
  <button class="btn btn-primary btn-md">Save</button>
</form>

