<mat-toolbar style="background-color: white">
  <mat-toolbar-row>
    <!--<div class="row">-->
      <div class="col-1">
        <img id="logo" [src]="logo" class=" img-fluid" routerLink="/"/>
      </div>

      <div class="col-7">
        <form #f="ngForm" class="form-inline " (ngSubmit)="searchpro(f.value)">

          &nbsp;&nbsp;&nbsp;
          <input class="form-control  search-form " [(ngModel)]="searchtext" type="text" name="searchtext"
                 placeholder="Search"
                 aria-label="Search"

          >
          <button class="btn btn-outline-success px-4 mx-3">Search</button>
        </form>
      </div>
       <div class="col-1 mx-3 " >
         <button *ngIf="!islogin" class="btn btn-primary " (click)="openLoginDialog()">Login/Signup</button>
       </div>
       <div class="col-1  mx-3">
         <!--<button class="btn btn-success">Shop Store</button>-->
       </div>
       <div class="col-1 mx-1 ">
         <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                 color="primary">
           <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
         </button>
       </div>
    <!--</div>-->
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container dir="rtl">
  <mat-sidenav-content dir="ltr">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
  <mat-sidenav #drawer mode="side" role="navigation">
    <mat-nav-list>
      <!--<p style="text-align: center" *ngIf="!islogin">-->
        <!--<a (click)="openLoginDialog()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login</a>-->
      <!--</p>-->
      <div *ngIf="islogin">
        <p style="text-align: center"><img id="userImage" src={{userData.image}} class="img-fluid"
                                           alt="Responsive image" alt="Avatar"/></p>
        <p style="text-align: center">{{  userData.name  }}</p>
        <p style="text-align: center"><a class="dropdown-item" routerLink="/Promotion">Promotion</a></p>
        <p style="text-align: center"><a class="dropdown-item" routerLink="/customer/0">Message</a></p>
        <p style="text-align: center"><a class="dropdown-item" routerLink="/customer/1">Selling</a></p>
        <p style="text-align: center"><a class="dropdown-item" routerLink="/customer/2">Buying</a></p>
        <p style="text-align: center"><a class="dropdown-item" routerLink="/customer/3">Watchlist</a></p>
        <p style="text-align: center"><a class="dropdown-item" [routerLink]="['/customer','4']">Reviews</a></p>
        <p style="text-align: center"><a class="dropdown-item" routerLink="/sellerslist">Sellers List</a></p>
        <p style="text-align: center"><a class="dropdown-item" routerLink="/productslist">Products List</a></p>
        <p style="text-align: center"><a class="dropdown-item" (click)="logout()">logout </a></p>
      </div>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
