<script src="newsel.component.ts"></script>
<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="crud-mng-container col-6">
    {{sellerID}}
    <mat-form-field>
      <input [(ngModel)]="sellerID" name="sellerID" matInput placeholder="sellerID">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="product.name" name="name" matInput placeholder="name" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="product.numbers" name="Numbers" matInput placeholder="Numbers" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="product.price" name="price" matInput placeholder="price" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="product.category" name="category" matNativeControl  placeholder="category" [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let cat of categories " [value]="cat.category">{{cat.category}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea [(ngModel)]="product.description" name="description" matInput placeholder="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="product.keywoards" name="keywoards" matInput placeholder="keywoards">
    </mat-form-field>
  </div>
  <input [(ngModel)]="product.image" name="image"  type='file' (change)="onSelectFile($event)">
  <!--{{selectFileSize | filesize}}-->
  <br><br>

  <button class=" btn-success">Save</button>
</form>
