<h3 mat-dialog-title>Don't have an account? <span class="fa fa-signup" (click)="openDialogsignup()"><a>Sign up</a></span> </h3>

<div mat-dialog-content>
  <p align="center" btn-primary>Log in Form</p>
  <ng-template [ngIf]="emailfound">
    <p align="center" class="font-weight-normal bg-danger">Email Not Found</p>
  </ng-template>
  <ng-template [ngIf]="passworderror">
    <p align="center" class="font-weight-normal bg-danger">This Password is wronge</p>
  </ng-template>

    <button class="fa fa-facebook btn-primary btn-block " (click)="socialSignIn('facebook')">                 Login with Facebook</button>
    <button class="fa fa-google btn-danger btn-block " (click)="socialSignIn('google')">                    Login with Google</button>
<br>
  <form class="example-form" #f="ngForm">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="username" matInput placeholder="Email" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" [(ngModel)]="password" matInput placeholder="Enter your password" [formControl]="passFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="passFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button  [disabled]="emailFormControl.hasError('email') || emailFormControl.hasError('required') || passFormControl.hasError('required')"  class="fa btn-success btn-block" (click)="onNoClick()">Login</button>
  </form>
</div>
