<div class="row">
  <ng-container *ngFor="let p of products">
    <ng-container *ngIf="p.status=='ACTIVE' ">
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div
        class="card" style="width: 100%;">
        <img class="card-img-top" [src]="p.image" onError="this.src='../../assets/images/product.jpg';" alt="Card image cap" [routerLink]="['/products/details',p.productID]">
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">{{p.price | currency:'SEK':true}}</p>
        </div>
      </div>
    </div>
    </ng-container>
  </ng-container>

</div>



