.card-footer{
  padding: 3px;
  border: 1px;
  border-style: ridge;
}

.md-elevation-z4 {
  border-radius: 35px;
  margin-bottom: 20px;
}
#rad {
  margin: 25px;
  padding: 5px;
  box-shadow: 1px 3px #eae6e6;
  border-radius: 50px 50px 50px 50px;
}
.example2 {
  padding: 10px;
  box-shadow: 5px 10px #eae6e6;
  border-radius: 50px 50px 50px 50px;
}
.vl {
  border-left: 1px solid gray;
  height: 35px;
}

.card-container{
  margin-left: 10px;
  margin-right: 10px;
}

#userImage{
  margin-right: 15px;
  height: 35px;
  width: 35px;
  border-radius: 20%;
  vertical-align: middle;
}

.card-price{
  float: right;
  color: #29d468;
  vertical-align: middle;
}

.card-title{
  /*ertical-align: middle;*/
  /*display: inline-block;*/
  text-align:center;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
  font-size: 22px;
}

.full {
  color: gold;
  font-size: 22px;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
  font-size: 22px;
}
