.row {
  padding: 10px;
width: 90%;
}
.row-height {
  height: 70px;
  padding-top: 10px;
}
.col-md-12 {
  background-color: #f5f3f3;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

