<input type="text" placeholder="lat" [(ngModel)]="latSearch"> |
<input type="text" placeholder="price" [(ngModel)]="priceSearch"> |
<input type="text" placeholder="productDateIn" [(ngModel)]="productDateInSearch"> |
<input type="text" placeholder="category" [(ngModel)]="categorySearch">
<br>
<hr>
<br>
<table border="1">
  <thead>
  <td>lat</td>
  <td>price</td>
  <td>productDateIn</td>
  <td>category</td>
  </thead>
  <tbody>
  <tr *ngFor="let user of data | searchUser: latSearch: priceSearch: productDateInSearch: categorySearch">
    <td>{{ user.lat }}</td>
    <td>{{ user.price }}</td>
    <td>{{ user.productDateIn }}</td>
    <td>{{ user.category }}</td>
  </tr>
  </tbody>
</table>
