.crud-mng-container {
  display: flex;
  flex-direction: column;
  color: blue;
  font-size: 20px;
  border: 1px #d7d7d7 solid ;
  border-spacing: 5px;
}

.crud-mng-container > * {
  width: 100%;
}

mat-form-field{
  padding-left: 20px;
  padding-top: 20px;
}




.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
  font-size: 22px;
}
.full {
  color: gold;
  font-size: 22px;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
  font-size: 22px;
}

.card-img-top{
  /*width: 90%;*/
  height: 300px;
}

.img{
  /*width: 100%;*/
  /*height: 100%;*/
  height: 400px;

  object-fit:cover;
}

.slideshow{
  height: 600px;
width: 1200px;
}
