<div class="row">
  <div class="col">

      <div>
        <div
          class="card" style="width: 100%;height: 300px">
          <img class="card-img-top" [src]="product.image" style="width: 200px;height: 200px;align-items: center" onError="this.src='../../../../assets/images/product.jpg';" alt="Card image cap">
        </div>
        <div class="card">
          <h5 class="card-title"> Description</h5>
            <h6 class="card-title">{{product.description}}</h6>
        </div>
      </div>
  </div>

  <div class="col-6">
    <div class="card" style="height: 300px;">
      <br><br>
      <h4 class="card-title"><b>Name:</b><b>{{product.name}}</b></h4>
      <br><br>
      <p class="card-text"><b>Price:</b>{{product.price | currency:'SEK':true}}</p>
      <br><br>
      <p class="card-title"><b>Numbers:</b><b>{{product.numbers}}</b></p>
      <br><br>
      <p class="card-title"><b>Category:</b><b>{{product.category}}</b></p>
      <br><br>
      <p class="card-title"><b>Keywoards:</b><b>{{product.keywoards}}</b></p>
    </div>
    <div class="card">
      <h6 class="card-title">

      <a [routerLink]="['/editdetailsel',product.productID]">Edit item</a>.<a href="#">Delist item</a>.<a href="#">Mark item as sold</a>
      </h6>
    </div>




      <div class="crud-mng-container ">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img *ngIf="userData" id="userImage" src={{userData.image}} class="img-fluid" alt="Responsive image" alt="Avatar"/>
              {{  userData.name  }}
              <div class="text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <small >0 sales/0 purchases/since 2019</small>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
