<h2>Products List</h2>
<!--<p>....</p>-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>num</th>-->
<!--<th>productID</th>-->
<!--<th>sellerID</th>-->
<!--<th>name</th>-->
<!--<th>category</th>-->
<!--<th>price</th>-->
<!--<th>numbers</th>-->
<!--<th>productDateIn</th>-->
<!--<th>productExpireDate</th>-->
<!--<th>lng</th>-->
<!--<th>lat</th>-->
<!--<th>keywoards</th>-->
<!--<th>description</th>-->
<!--<th>picture</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<ng-container *ngFor="let p of filterdProducts ; let i= index ">-->
<!--<tr>-->
<!--<td>{{i+1}}</td>-->
<!--<td>{{p.productID}}</td>-->
<!--<td>{{p.sellerID}}</td>-->
<!--<td>{{p.name}}</td>-->
<!--<td>{{p.category}}</td>-->
<!--<td>{{p.price | currency:'SEK':true}}</td>-->
<!--<td>{{p.numbers}}</td>-->
<!--<td>{{p.productDateIn}}</td>-->
<!--<td>{{p.productExpireDate}}</td>-->
<!--<td>{{p.lng}}</td>-->
<!--<td>{{p.lat}}</td>-->
<!--<td>{{p.keywoards}}</td>-->
<!--<td>{{p.description}}</td>-->
<!--<td width="100" height="100"><img class="card-img-top" [src]="p.image" alt="Card image cap"></td>-->
<!--</tr>-->
<!--</ng-container>-->
<!--</tbody>-->
<!--</table>-->

<kendo-grid
  [height]="600"
  [data]="filterdProducts"
  [sortable]="true"
  [draggable]="true">

  <kendo-grid-column title="ID" field="productID" [width]="15"></kendo-grid-column>
  <kendo-grid-column title="Product Name" field="name" [width]="50"></kendo-grid-column>
  <kendo-grid-column title="Price" field="price" [width]="20"></kendo-grid-column>
  <kendo-grid-column title="Numbers" field="numbers" [width]="20"></kendo-grid-column>
  <kendo-grid-column title="Seller" field="sellerID" [width]="20"></kendo-grid-column>
  <kendo-grid-column title="Status" field="status" [width]="25"></kendo-grid-column>

  <kendo-grid-column title="Start Date" field="productDateIn" [width]="30">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.productDateIn | date: 'dd/mm/yyyy'}}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column title="Expire Date" [width]="30">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.productExpireDate | date: 'dd/mm/yyyy'}}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column title="image" [width]="30">
    <ng-template kendoGridCellTemplate let-dataItem>
      <img src={{dataItem.image}} onError="this.src='../../../assets/images/product.jpg';" [width]="100" [height]="100">
    </ng-template>
  </kendo-grid-column>

</kendo-grid>

<!--<ng-template kendoGridToolbarTemplate>-->
<!--<button kendoGridAddCommand type="button">Add new</button>-->
<!--<ng-template kendoGridEditTemplate let-dataItem="dataItem">-->

<!--</ng-template>-->
<!--</ng-template>-->
<!--[pageable]="true"-->
<!--[kendoGridTemplateEditing]="createNewProduct"-->
<!--[kendoGridBinding]="products"-->
